@media (max-width: 1420px) {
  .section-about__text {
    margin-right: 0;
  }


  .section-footer__right--block {
    padding-bottom: 105px;
  }


  .section-faq__icon {
    flex-shrink: 0;
  }
}


@media (max-width: 1200px) {

  /*секция HEADER*/
  .container {
    padding: 0 50px;
    margin: 0 auto;
  }


  .header {
    padding: 25px 50px;
  }


  .header__container {
    padding: 0;
  }



  .header__search-form {
    right: 4%;
  }


  .logo__pic {
    width: 150px;
  }


  .burger {
    display: block;
    margin-right: auto;
  }


  .burger:focus {
    outline: 2px solid #ff9900;
    outline-offset: 3px;
  }


  .burger__line {
    position: absolute;
    right: 0;
    top: 52%;
    width: 99%;
    height: 10%;
    background-color: #000;
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out;
  }


  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform .2s ease-in-out;
  }


  .burger::before {
    top: 0;
  }


  .burger::after {
    bottom: 0;
  }


  .burger--active .burger__line {
    opacity: 0;
  }


  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
  }


  .burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }


  .stop-scroll {
    overflow: hidden;
  }


  .header__nav {
    position: fixed;
    left: 0;
    top: 81px;
    padding: 62px 50px;
    padding-bottom: 217px;
    width: 41%;
    max-width: 420px;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    visibility: hidden;
    background-color: var(--background-section);
    box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
    transform: translateX(-100%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }



  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
  }


  .header__item {
    margin-right: 0;
  }


  .header__item:not(:last-child) {
    margin-bottom: 60px;
  }


  .header__link {
    font-size: 23px;
    line-height: 30px;
  }


  /*секция HERO*/
  .section-hero {
    margin-bottom: 80px;

  }


  .hero__container {
    padding: 0 15px;
    margin: 0 35px;
  }


  .swiper-slide {
    padding-top: 160px;
  }


  .section-hero__content {
    padding: 160px 77px;
  }


  .section-hero__heading {
    max-width: 770px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }


  .section-hero__text {
    margin-bottom: 60px;
    max-width: 770px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }


  .section-hero__btn {
    padding: 24.83px 36.88px;
    font-size: 23.46px;
    line-height: 29px;
  }


  /*секция ABOUT*/
  .section-about__content {
    flex-direction: column;
  }


  /*левый блок*/
  .section-about__heading {
    margin-bottom: 6px;
  }



  .section-about__left--text {
    margin-bottom: 61px;
  }


  .section-about__left {
    margin-right: 0;
    margin-bottom: 32px;
  }


  .section-about__item--bg {
    height: 640px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url("../img/1024/about.jpg");

  }


  .section-about__wrapper {
    padding: 36px;
  }

  .section-about__text {
    margin: 0;
    margin: 0 195px 9px 13px;
  }


  .section-about__btn {
    margin-bottom: 12px;
  }


  /*правый блок*/
  .section-about__right--item {
    flex-direction: column;
    margin-bottom: 32px;
  }


  .section-about__right--item-bottom {
    flex-direction: column;
  }


  .section-about__right--text {
    margin: 0;
    font-size: 16px;
    line-height: 31px;
  }

  .section-about__right--item {
    padding: 62px 126px 62px 243px;
    background-position: 76px 61px;
  }


  .section-about__right--text {
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 32px;

  }


  .section-about__right--item-bottom {
    padding: 62px 121px 63px 308px;
    background-position: 75px 62px;
  }


  .section-about__right--title {
    margin-bottom: 10px;
  }






  /*секция HOW*/
  .section-how__list {
    margin-bottom: 53px;
  }


  .section-how__title {
    margin-bottom: 50px;
  }


  /*левый блок*/
  .section-how__left {
    margin-right: 50px;
  }

  .section-how__title {
    margin-bottom: 5px;
  }


  .section-how__text--description {
    width: 437px;
  }



  .section-how__buttons {
    margin-bottom: 30px;
  }


  /*правый блок*/
  .section-how__right {
    max-width: 437px;
  }


  .section-how__image {
    object-fit: cover;
    width: 437px;
    margin-bottom: 80px;
  }


  /*секция FOOTER*/
  .section-footer {
    padding: 50px 35px;
    padding-right: 40px;
  }


  .footer__container {
    padding: 0 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }


  /*левый блок*/
  .section-footer__left--block {
    max-width: 251px;
  }


  .section-footer__logo {
    width: 224px;
  }


  .section-footer__social {
    padding-top: 16px;
  }


  /*вертикальное меню*/
  .section-footer__menu {
    margin-bottom: 70px;
  }


  .section-footer__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
  }


  /*центральный блок*/
  .section-footer__center--title {
    margin: 0;
    margin-bottom: 25px;
  }


  .section-footer__btn--form {
    width: 240px;
    font-size: 15px;
  }

  /*чекбокс*/


  .footer-check__text {
    padding-left: 24px;
    font-size: 17px;
  }


  .section-footer__right--block-text {
    display: none;
  }
}


@media (max-width: 992px) {

  body {
    overflow-x: hidden;
  }


  /*секция HEADER*/
  .header {
    padding: 27px 50px;
  }


  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }


  /*бургер-меню*/
  .burger__line {
    top: 55%;
  }


  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
  }


  .burger::before {
    top: 1px;
  }


  .burger::after {
    bottom: -1px;
  }


  .burger--active .burger__line {
    opacity: 0;
  }


  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
  }


  .burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }


  .stop-scroll {
    overflow: hidden;
  }


  .header__nav {
    position: absolute;
    width: 420px;
    height: 100vh;
    margin-top: 75px;
    padding: 50px;
    top: 30px;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }


  .header__logo {
    margin-right: auto;
  }


  .header__search-form {
    right: 40px;
    height: 55px;
    font-size: 13px;
  }


  .header__search {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
  }


  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
  }


  .header__item {
    margin-right: 0;
  }


  .header__item:not(:last-child) {
    margin-bottom: 60px;
  }


  .header__link {
    font-size: 23px;
    line-height: 29px;
  }

  .header__btn {
    margin: 0;
  }


  .header__search-input {
    width: 275px;
    transform: translateX(23px);
    color: #adadad;
    transition-duration: .5s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    border: none;
  }



  .header__search-form {
    position: absolute;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    background-color: var(--background-section);
    right: -40%;
    opacity: 0;
    z-index: -1;
    top: 2%;
    transition: top 0.5s, opacity 0.5s;
    padding: 16px;
    border-radius: 16px;
  }


  .header__search-form--active {
    transition: top 0.5s, opacity 0.5s;
    top: -17px;
    opacity: 1;
    z-index: 1;
  }

  /*секция HERO*/
  .section-hero {
    margin-bottom: 80px;
  }


  .hero__container {
    padding: 0 15px;
    margin: 0 35px;
  }


  .section-hero__content {
    padding: 160px 40px;
  }


  .section-hero__heading {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 49px;
    line-height: 61px;
  }


  .section-hero__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }


  .section-hero__btn {
    background-color: #ff9900;
    font-weight: 700;
    font-size: 23.5px;
    line-height: 29px;
    padding: 24.83px 36.88px;
    color: #fff;
    transition: background-color .3s ease;
  }

  /*секция ABOUT*/
  .section-about {
    margin-bottom: 80px;
  }


  .section-about__content {
    flex-direction: column;
    align-items: flex-start;
  }



  /*левый блок*/
  .section-about__wrapper {
    padding: 45px;
  }


  .section-about__left--text {
    margin: 0;
    margin-bottom: 62px;
  }


  .section-about__item--bg {
    margin-right: 16px;
  }


  .section-about__text {
    margin: 0;
    padding-right: 47px;
  }


  /*правый блок*/
  .section-about__right {
    margin-right: 16px;
  }


  .section-about__right--item {
    flex-direction: column;
    margin-bottom: 32px;
  }


  .section-about__right--item-bottom {
    flex-direction: column;

  }


  .section-about__right--item {
    padding: 35px 50px 35px 100px;
    background-position: 25px 60px;
    background-image: url("../img/768/about-1.svg");
    background-repeat: no-repeat;
  }


  .section-about__right--title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #333333;
  }


  .section-about__right--inner-top {
    margin-left: 59px;
  }


  .section-about__right--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
  }


  .section-about__right--item-bottom {
    padding: 35px 50px 35px 160px;
    background-position: 25px 60px;
    background-image: url("../img/768/about-2.svg");
    background-repeat: no-repeat;
  }


  /*секция HOW*/
  .section-how {
    margin-bottom: 80px;
  }


  .section-how__tabs-item {
    display: none;
  }


  .section-how__tabs-item--active {
    display: flex;
  }


  .section-how__blocks {
    flex-direction: column-reverse;
  }


  /*левый блок*/
  .section-how__left {
    margin: 0;
    width: 100%;
  }


  .section-how__title {
    margin-bottom: 8px;
  }


  .section-how__list {
    justify-content: space-between;
    margin-bottom: 50px;
    min-width: 110%;
  }


  .section-how__text--description {
    margin-bottom: 25px;
    width: 100%;
  }


  /*Кнопки*/
  .section-how__button:not(:last-child) {
    margin-right: 165px;
  }


  .section-how__buttons {
    margin-top: 25px;
  }


  .section-how__btn {
    margin-right: 16px;
    background-color: var(--btn-site-color);
    color: var(--buttons-color);
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: linear;
  }


  .section-how__btn:hover {
    background: var(--buttons-how-effects);
  }


  .section-how__btn:focus {
    background: var(--buttons-how-effects);
  }


  .section-how__btn:active {
    background: var(--active-button-color);
  }


  .section-how__btn--grey {
    margin-left: 16px;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: linear;
  }


  .section-how__btn--grey:hover {
    background: var(--grey-buttons-effects);
  }


  .section-how__btn--grey:focus {
    background: var(--grey-buttons-effects);
  }


  .section-how__btn--grey:active {
    background: var(--black-color);
  }


  /*правый блок*/
  .section-how__right {
    padding-top: 8px;
    max-width: 100%;
    height: 284px;
  }


  .section-how__image {
    margin-bottom: 38px;
    width: 100%;
  }


  /*секция FOOTER*/
  .section-footer {
    padding: 50px 35px;
  }


  .footer__container {
    padding: 0 15px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }


  .section-footer__image {
    width: 224px;
    margin-bottom: 16px;
  }


  .section-footer__menu {
    display: none;
  }


  /*социальные иконки*/
  .section-footer__social--link {
    display: inline-block;
    margin-bottom: 0;
    width: 60px;
    height: 60px;
    background-position: left;
    background-repeat: no-repeat;
  }


  .section-footer__social--link:not(:last-child) {
    margin-right: 19px;
  }



  /*центральный блок*/
  .section-footer__center--block {
    max-width: 570px;
    width: 100%;
    transform: none;
  }


  .section-footer__center--title {
    margin-bottom: 25px;
  }


  .section-footer__center--block-text {
    margin-bottom: 22px;
  }


  .section-footer__center--block-text {
    padding: 24px 24px 104px 24px;
  }


  .section-footer__input {
    width: 100%;
    margin-bottom: 22px;
  }


  .section-footer__input--message {
    width: 100%;
    margin-bottom: 32px;
  }


  .section-footer__btn--form {
    margin-bottom: 50px;
  }



  /*правый блок*/
  .section-footer__right--block {
    display: none;
  }

  .section-footer__right--block-text {
    display: none;
  }
}


@media (max-width: 560px) {

  .section-footer__right--block {
    display: none;
  }


  /*секция HEADER*/
  .container {
    max-width: 560px;
    margin: 0 auto;
    padding: 0 15px;
  }


  .header {
    padding: 15px 4px;
  }


  .header-container {
    padding: 0;
  }


  .burger {
    position: relative;
    margin-right: auto;
    width: 30px;
    height: 23px;
    padding: 0;
  }


  .burger__line {
    position: absolute;
    right: 0;
    top: 49%;
    width: 100%;
    height: 9%;
    background-color: #000;
  }


  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
  }


  .burger::before {
    top: 0;
  }


  .burger::after {
    bottom: 0;
  }


  .burger--active .burger__line {
    opacity: 0;
  }


  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
  }


  .burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }


  .stop-scroll {
    overflow: hidden;
  }


  .header__nav {
    position: absolute;
    width: 96%;
    max-width: 320px;
    height: 100vh;
    padding: 30px 30px;
    top: -7px;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }


  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__list:not(:first-child) {
    flex-direction: column;
    align-items: flex-start;
  }



  .header__list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
  }


  .header__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }


  .header__item:not(:last-child) {
    margin-bottom: 25px;
  }



  .header__search-form {
    height: 55px;
    right: -6px;
    font-size: 10px;
  }


  .header-search {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
  }


  .header__search-input {
    width: 90px;
    transform: translateX(23px);
    color: #adadad;
    transition-duration: .5s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    border: none;
  }


  .header__logo {
    width: 110px;
  }


  .logo__pic {
    width: 110px;
    height: 35px;
  }


  /*секция HERO*/
  .section-hero {
    margin-bottom: 60px;
  }


  .hero__container {
    margin: 0;
    padding: 0;
  }


  .swiper-pagination {
    position: absolute;
  }


  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }


  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
  }


  .swiper-pagination-bullet-active {
    background: #fff;
  }

  .section-hero__content {
    padding: 60px 38px;
  }


  .section-hero__heading {
    margin-bottom: 7px;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
  }


  .section-hero__text {
    margin-bottom: 32px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
  }


  .section-hero__btn {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    line-height: 15px;
    padding: 11px 29px;
  }


  /*секция ABOUT*/
  .section-about {
    margin-bottom: 60px;
  }


  .section-about__container {
    padding: 0 13px;
  }


  .section-about__item--bg {
    height: auto;
    margin-right: 0;
    background-image: url("../img/320/320about-logopic.jpg");
    padding-top: 71%;
    background-size: 100%;
    background-position: top;
  }


  .section-about__content {
    flex-direction: column;
  }


  .section-about__wrapper {
    background: none;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }



  /*левый блок*/
  .section-about__heading {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }


  .section-about__left--text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .section-about__text {
    padding: 0;
    margin-bottom: 9px;
    color: #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
  }


  .section-about__btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 11px 43px;
    color: #FF9900;
    border: 2px solid #FF9900;
  }


  /*карточки*/
  .section-about__right--item {
    background-size: 65px 55px;
    background-position: 0 0;
    padding: 0;
    padding-top: 30px;
    border: none;
  }


  .section-about__right--item-bottom {
    background-size: 69px 51px;
    background-position: 0 0;
    padding: 0;
    padding-top: 60px;
    border: none;
  }


  .section-about__right--inner-top {
    margin-left: 0px;
    margin-top: 40px;
  }


  .section-about__right--inner-bottom {
    margin-left: 0px;
    margin-top: 8px;
  }


  .section-about__right--title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .section-about__right--title-bottom {
    margin-bottom: 4px;
    margin-left: 1px;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
  }


  .section-about__right--text {
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #333333;
  }

  .section-about__right--text-bottom {
    margin-left: 1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }


  /*секция HOW*/
  .section-how__heading {
    margin: 0;
    margin-bottom: 16px;
    padding-top: 8px;
    font-size: 24px;
    line-height: 30px;
  }


  .section-how__list {
    margin-bottom: 16px;
  }


  /*список ШАГИ*/
  /*секция HOW*/
  .section-how__tabs-item {
    display: none;
  }


  .section-how__tabs-item--active {
    display: flex;
  }


  .section-how__blocks {
    justify-content: space-between;
    flex-direction: column-reverse;
  }


  /*левый блок*/
  .section-how__left {
    width: 100%;
  }


  .section-how__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 32px;

  }


  .section-how__text--description {
    margin-bottom: 16px;
    width: 100%;
  }


  /*Кнопки*/
  .section-how__button {
    max-width: 290px;
    margin-right: 44px;
  }


  .section-how__buttons {
    margin-top: 16px;
  }


  .section-how__btn {
    margin-right: 16px;
    padding: 11px 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    background-color: var(--btn-site-color);
    color: var(--buttons-color);
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: linear;
  }


  .section-how__btn:hover {
    background: var(--buttons-how-effects);
  }


  .section-how__btn:focus {
    background: var(--buttons-how-effects);
  }


  .section-how__btn:active {
    background: var(--active-button-color);
  }


  .section-how__btn--grey {
    margin-left: 7px;
    padding: 11px 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid var(--border-grey-color);
    color: #333;
    background-color: white;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: linear;
  }


  .section-how__btn--grey:hover {
    background: var(--grey-buttons-effects);
  }


  .section-how__btn--grey:focus {
    background: var(--grey-buttons-effects);
  }


  .section-how__btn--grey:active {
    background: var(--black-color);
  }


  /*правый блок*/
  .section-how__right {
    display: flex;
  }


  .section-how__image {
    margin-bottom: 16px;
    object-fit: cover;
    height: auto;
  }


  /*accordion*/
  .section-faq__heading {
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    color: #333;
  }


  /*секция FOOTER*/
  .section-footer {
    padding: 50px 15px;
  }


  .footer__container {
    padding: 0;
  }


  .section-footer__left--block {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }


  .section-footer__logo {
    display: block;
    width: 131px;
    margin: 16px 85px 16px auto;
  }


  .section-footer__image {
    margin-bottom: 0;
  }


  /*социальные иконки*/
  .section-footer__social {
    margin-left: 40px;
    margin-right: 0px;
  }


  .section-footer__social--link:not(:last-child) {
    display: inline;
    margin-right: 14px;
  }


  /*центральный блок*/
  .section-footer__center--block {
    margin-right: auto;
  }


  .section-footer__center--title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }


  .email__form {
    border-bottom: 1px solid #595959;
  }


  .section-footer__input {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 32px;
    transition: background-color .3s ease;
  }


  .section-footer__input--message {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 32px;
    transition: background-color .3s ease;
  }


  .section-footer__btn--form {
    display: block;
    margin: 0 auto;
    margin-bottom: 11px;
    font-size: 12px;
    width: 180px;
    line-height: 15px;
    padding: 12px 27px;
    transition: background-color .3s ease;
  }


  /*чекбокс*/
  .footer-check__text {
    padding-left: 23px;
    font-size: 15px;
    padding-bottom: 11px;
  }


  .footer-checkbox__descr {
    margin-bottom: 16px;
    font-size: 15px;
  }


  .section-footer__right--block-text {
    display: none;
  }
}
